global
	daemon
	maxconn 256

defaults
	mode tcp
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

frontend http
	bind :8080
	default_backend stats

backend stats
	mode http
	stats enable
	stats uri /
	stats refresh 1s
	stats show-legends
	stats admin if TRUE

frontend redis-write
	bind *:6379
	default_backend redis-rw

frontend redis-read
	bind *:6380
	default_backend redis-ro

backend redis-rw
	mode tcp
	balance first
	option tcp-check

	tcp-check send info\ replication\r\n
	tcp-check expect string role:master

{% for item in workers %}
	server {{ item.name }}:{{ item.ipv4 }}:6379 {{ item.ipv4 }}:6379 maxconn 1024 check inter 1s rise 10 on-marked-down shutdown-sessions
{% endfor %}

backend redis-ro
	mode tcp
	balance roundrobin
	option tcp-check

	tcp-check send PING\r\n
	tcp-check expect string +PONG

{% for item in workers %}
	server {{ item.name}}:{{ item.ipv4 }}:6379 {{ item.ipv4 }}:6379 maxconn 1024 check inter 1s rise 10 on-marked-down shutdown-sessions
{% endfor %}
